	.buttons {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #e53d3d;
    padding: 1em 2em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    size: 100px;
  }
  .buttons span {
    position: relative;
    pointer-events: none;
  }
  .buttons::before {
    --size: 20;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient( #4405f7);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width 0.2s ease, height 0.2s ease;
    transition: width 0.2s ease, height 0.2s ease;
  }
  .buttons:hover::before {
    --size: 400px;
  }